{{input
  type="text"
  value=text
  key-up=(action updateText)
  autocomplete='off'}}

<ul>
  {{#each characters key='character' as |char|}}
    <li>{{char.character}}: {{char.total}}</li>
  {{/each}}
</ul>

{{#e3-container type='canvas' height=400 width=800 as |stage meta|}}
  <metadata>
    {{e3-scale/ordinal stage 'x'
      banding=true
      domain=(e3-unique characters key='character')
      range=stage.horizontalRange
    }}

    {{e3-scale/linear stage 'y'
      domain=(e3-extent characters key='total' min-value=0)
      range=stage.verticalRange
    }}
  </metadata>

  {{#each characters key='character' as |char|}}
    {{e3-shape/rectangle stage
      data=char
      x=(e3-bind-scale meta.scales.x 'character')
      y=(e3-bind-scale meta.scales.y 'total' scale-difference=true)
      height=(e3-bind-scale meta.scales.y 'total')
      width=meta.scales.x.bandWidth
    }}

    {{e3-shape/text stage
      data=char
      text=char.character
      x=(e3-bind-scale meta.scales.x 'character')
      y=(e3-bind-scale meta.scales.y 'total' scale-difference=true)
    }}
  {{/each}}
{{/e3-container}}
