<button {{action 'sort'}}>Sort</button>
<br>
{{input type="checkbox" checked=under5}} Under 5
<br>
{{#if isNotStacked}}
  {{#e3-container type='svg' height=400 width=800 as |stage meta|}}
    <metadata>
      {{e3-scale/ordinal stage 'x'
        banding=true
        domain=states
        range=stage.horizontalRange
      }}

      {{e3-scale/linear stage 'y'
        domain=(e3-extent states key='total' min-value=0)
        range=stage.verticalRange
      }}
    </metadata>

    {{#each states as |state|}}
      {{e3-shape/rectangle stage
        data=state
        x=meta.scales.x
        y=(e3-bind-scale meta.scales.y 'total' scale-difference=true)
        height=(e3-bind-scale meta.scales.y 'total')
        width=meta.scales.x.bandWidth
      }}
    {{/each}}
  {{/e3-container}}
{{else}}
  {{#e3-container type='svg' height=400 width=800 as |stage meta|}}
    <metadata>
      {{e3-scale/ordinal stage 'x'
        banding=true
        domain=states
        range=stage.horizontalRange
        padding=0.1
      }}

      {{e3-scale/ordinal stage 'color'
        domain=(e3-unique states.firstObject.populations key='group')
        range=(e3-arrayify '#ff8c00' '#d0743c' '#a05d56' '#6b486b' '#7b6888' '#8a89a6' '#98abc5')
      }}

      {{e3-scale/linear stage 'y'
        domain=(e3-extent states key='total' min-value=0)
        range=stage.verticalRange
      }}
    </metadata>

    {{#each states as |state|}}
      {{#e3-stacked-group stage
        data=state.populations
        x=(e3-bind-scale meta.scales.x data=state)
        y=(e3-bind-scale meta.scales.y 'value' scale-difference=true)
        sum-props='value'
        as |groupStage groupMeta population cums|
      }}
        {{e3-shape/rectangle groupStage
          data=population
          y=(e3-bind-scale meta.scales.y 'value' data=cums)
          height=(e3-bind-scale meta.scales.y 'value')
          fill=(e3-bind-scale meta.scales.color 'group')
          width=meta.scales.x.bandWidth
        }}
      {{/e3-stacked-group}}
    {{/each}}
  {{/e3-container}}
{{/if}}
